header {
    background: #231C1A;
    height: 5vw;
    width: 100%;
}

header p {
    color: white;
    position: absolute;
    left: 20px;
    top:0;
    font-size: 2vw;
    display: flex;
    line-height: 1px;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 70px;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}
